{% extends 'base.html' %}
{% block content %}
<div class="auth glass">
  <h2>Admin Login</h2>
  <form method="post" class="form">
    <label>Email</label>
    <input name="email" required placeholder="Enter your admin email">
    
    <label>Password</label>
    <input name="password" type="password" required placeholder="Enter your admin password">
    
    <button class="btn danger">Login as Admin</button>
    <a href="{{ url_for('index') }}" class="btn btn-primary" style="margin-bottom:10px;">
      ← Back Home
    </a>
  </form>
  <p class="hint">Admin credentials are only provided by the developer.</p>
</div>
{% endblock %}
